*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #EEEAEA;
}

p {
    color: #0C0C12;
    font-family: 'Mukta', sans-serif;
    line-height: 30px;
    font-size: 4.5vw;
}

ul {
    font-family: 'Mukta', sans-serif;
}

h1 {
    color: #0C0C12;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    color: #0C0C12;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 5vw;
    padding-top: 15px;
    padding-bottom: 10px;
}

h3 {
    color: #0C0C12;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 4.5vw;
}

.highlight {
    background-color: #EEEAEA;
    padding: 5px;
}

.headline {
    background-color: #ffffff;
    margin: auto;
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 25px;
}

button {
    background-color: #AC0F3E;
    border-radius: 5px;
    width: 115px;
    height: 40px;
    /*center button*/
    display: block;
    margin: 0 auto;
    border: 0px;
}

/*Desktop settings */

@media screen and (min-width: 768px) {

    h2, h3 {
        font-size: 1.7vw;
    }

    h1 {
        font-size: 2.2vw;
    }

    p {
        font-size: 1.5vw;
        line-height: 35px;
    }

    ul {
        font-size: 1.5vw;
    }

    .highlight {
        background-color: #ffffff;
    }
}

/*Header*/

.header-container {
    height: 100vh;
    background-image: linear-gradient(rgba(12, 12, 18, 0.5), rgba(12, 12, 18, 0.5)), url("./pictures/laptop-table-technology-office.jpg");
    background-position: center;
    background-size: cover;
}

/*Mobile menu*/

.navigation {
    padding-top: 5px;
}

.nav-left {
    height: 60px;
}

.nav-left-container{
    padding-top: 10px;
    padding-left: 10px;
}

.toggle img {
    float: right;
    padding-top: 12px;
    padding-right: 15px;
    max-height: 65%;
}

.nav-right {
    display: none;
    list-style-type: none;
    padding: 10px;
    margin: auto;
    height: 50%;
    width: 60%;
    font-family: 'Mukta', sans-serif;
}

.nav-item {
    text-align: left;
    font-size: 17px;
    margin: 40px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #EEEAEA;
}

.nav-right a {
    color: #EEEAEA;
    text-decoration: none;
}

.navigation.active {
    background-image:  linear-gradient(rgba(12, 12, 18, 0.7), rgba(12, 12, 18, 0.7));
}

.nav-right.active {
    display: block;
}

/*Desktop menu*/

@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
    }

    .nav-right {
        display: flex;
        margin-right: 40px;
        margin-top: 20px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .nav-right li {
        margin: 0;
        border-bottom: 0px;
        margin-left: 10px;
    }

    .nav-right a {
        letter-spacing: 1px;
        border: 2px solid transparent;
        padding: 10px 20px;
    }

    .nav-right a:hover {
        border-color: #EEEAEA;
    }

   .toggle {
       display: none;
    }

    .nav-left {
        margin-top: 10px;
        margin-left: 20px;
    }
}

/*Mobile about section*/

.about-mobile-1-container {
    background-color: #ffffff;
    padding: 25px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-mobile-1-container p {
    padding-left: 25px;
}

.image-cropper {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /*hides overflow from img*/
    overflow: hidden;
}

.image-cropper img {
    height: auto;
    width: 100%;
}

.about-mobile-2-container {
    padding: 25px;
}

.about-mobile-2-container ul{
    line-height: 30px;
    font-size: 4.5vw;
    padding-left: 25px;
}

.about-desktop-container {
    display: none;
}

/*Desktop about section*/

@media screen and (min-width: 768px) {

    .about-mobile-1-container {
        display: none;
    }

    .about-mobile-2-container {
        display: none;
    }

    .about-desktop-container {
        display: flex;
        padding: 25px;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin: 3% 5% 0;
    }

    .flex.about {
        padding: 25px;
        padding-top: 0;
        padding-bottom: 0;
        width: 60%;
        margin-left: 25px;
    }

    #intro {
        font-weight: bold;
    }

    .image-cropper {
        border-radius: 0;
        width: 230px;
        height: auto;
        box-shadow: 10px 10px rgba(12, 12, 18, 0.83);
    }

    .image-cropper img {
        display: block;
    }
}

/*Mobile skills section*/

.skills-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
} 

.skill ul {
    list-style: none;
    line-height: 25px;
}

.skill {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    margin-bottom: 15px;
}

.skill.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4vw;
}

.column {
    padding: 10px;
}

.circle {
    width: 45px;
    height: 45px;
    background-color: #EEEAEA;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-family: 'Mukta', sans-serif;
    position: absolute;
    left: 10px;
    /*display circle*/
    z-index: 1;
}

.wrapper {
    position: relative;
}

/*Desktop skills section*/

@media screen and (min-width: 768px) {

    #skills {
        margin-top: 40px;
    }
    
    .skills-container {
        display: flex;
        justify-content: space-evenly;
        padding-right: 10px;
    }

    .skill {
        min-width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        margin-right: 15px;
    }

    .skill.name {
        margin: 0;
    }

    .column {
        padding-right: 0;
    }

    .skill ul {
        line-height: 20px;
    }

    .circle {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    /*hide headline*/

    #skills-headline {
        display: none;
    }
}

/*Mobile career section*/

#career {
    padding-bottom: 30px;
}

/*Swipe button*/
.swipe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swipe.left {
    display: none;
}

.arrow {
    height: 25px;
    width: 25px;
}

/*Timeline*/

.timeline {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
} 

.timeline::after {
    content: '';
    position: absolute;
    border-left: 5px dashed #AC0F3E;
    top: 0;
    bottom: 0;
    left: 25px;
}

.event {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 5px solid #AC0F3E;
    margin-left: 25px;
    display: flex;
}

.event img {
    height: 30px;
    width: 30px;
}

.event-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.event li{
    font-family: 'Mukta', sans-serif;
}

.education {
    display: none;
}

/*Download*/
button a {
    color: #EEEAEA;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    font-size: 3.5vw;
}

/*Desktop career section*/

@media screen and (min-width: 768px) {

    /*Swipe button*/
    
    .arrow {
        display: none;
    }

    .swipe.left {
        display: block;
    }

    .navigation.career {
        justify-content: space-evenly;
        padding-left: 20%;
        padding-right: 13%;
        margin-top: 20px;
    }

    /*Timeline*/

    .timeline {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .timeline::after {
        left: 50%;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .flex.career :nth-child(1) {order: 2;}
    .flex.career :nth-child(2) {order: 4;}
    .flex.career :nth-child(3) {order: 5;}
    .flex.career :nth-child(4) {order: 1;}
    .flex.career :nth-child(5) {order: 3;}

    .event {
        position: relative;
        margin-left: 0;
        max-width: 35%;
        border-style: none;
    }

    .event::after {
        content: '';
        position: absolute;
        height: 50px;
        border-right: 5px solid #AC0F3E;
    }

    .event.work::after {
        left: 0;
    }

    .event.education::after {
        left: 100%;
    }
    
    .education {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 20px;
        align-self: flex-end;
        right: 50%;
    }

    .work {
       left: 50%;
    }

    .ed {
        align-items: flex-end;
        padding-right: 10px;
    }

}

/*Mobile tools section*/

.tools-container {
    display: flex;
    background-color: #EEEAEA;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    overflow-x: auto;
}

.tool {
    margin-right: 20px;
    flex-shrink: 0;
    width: 80vw;
    height: min-content;
}

/*Desktop tools section*/

@media screen and (min-width: 768px) {

    .tool {
        flex-shrink: 1;
        width: 20vw;
    }
}

/*Mobile footer*/

.footer-container {
    display: flex;
    background-color: #0C0C12;
    opacity: 83%;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.nav-footer {
    font-family: 'Mukta', sans-serif;
    font-size: 4.5vw;
    list-style: none;
    margin-bottom: 20px;
}

.footer-item {
    padding-bottom: 20px;
    text-align: center;
}

.description {
    color: #EEEAEA;
    font-family: 'Mukta', sans-serif;
    font-size: 4.5vw;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: flex-start;
}

.contact p {
    color: #EEEAEA;
    padding-left: 10px;
}

.contact img {
    height: 30px;
    width: 30px;
}

.nav-footer a {
    text-decoration: none;
    color: #EEEAEA;
    font-weight: bold;
    letter-spacing: 1px;
}

/*Desktop footer*/

@media screen and (min-width: 768px) {

    .footer-container {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 15% 15%;
        align-items: flex-start;
    }

    .nav-footer {
        font-size: 1.4vw;
        order: 2;
    }

    .description {
        margin-top: 0;
        font-size: 1.4vw;
        order: 1;
    }

    .contact p {
        font-size: 1.4vw;
    }

    .contact img {
        height: 20px;
        width: 20px;
    }

    .contact-information {
        display: flex;
        flex-direction: column;
        order: 3;
    }

    .social {
        display: none;
    }

}

